{% extends 'base.html' %}
{% load static %}

{% block title %}O mě | Nikola Turnerová {% endblock %}

{% block content %}

<section class="about-content">           
        <p style="font-size: 0.98rem; font-family: 'Poppins', serif; color: #1F1F1F; margin-bottom: 20px;">Necítíte se ve svém těle dobře? Chcete mít víc energie, zhubnout, zlepšit držení těla a pohybovat se bez bolesti?</p>
        <h2>Jmenuji se Nikola Turnerová</h2>
        <p></p>
        <p>Jsem rehabilitační trenérka a taneční trenérka. Pomáhám ženám i mužům cítit se ve svém těle silnější, lehčí a vyváženější.</p>
        <p>Pracuji s těmi, kteří chtějí řešit ztuhlost, svalové disbalance, bolest či nadbytečná kila, a naučit své tělo pohybovat se funkčně, bezpečně a s radostí. </p>
        <p> Vedu individuální tréninky i skupinové lekce, vždy přizpůsobené vašim potřebám a možnostem. Kromě rehabilitačního cvičení nabízím také taneční lekce, které přinášejí radost, lehkost a energii.</p>
        <p></p>




        <a href="{% url 'contact' %}" class="btn-contact">Kontaktujte mě</a>
        </div>
    </section>
</section>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/navbar.js' %}"></script>
{% endblock %}
